/* Display */
@font-face {
    font-family: 'Oswald Bold';
    src: url('../fonts/Oswald-Bold.ttf');
}
/* Titles */
@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf');
}
/* Body */
@font-face {
    font-family: 'Cooper Hewitt Light';
    src: url('../fonts/CooperHewitt-Light.otf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: "Cooper Hewitt Light", sans-serif;
}

h1, h2 {
    font-family: "Oswald Bold", sans-serif;
    color: white;
}

h3, h4, h5, h6 {
    font-family: "Montserrat Light", sans-serif;
    font-weight: 300;
    color: white;
}

p {
    font-family: "Cooper Hewitt Light", sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}

.container__item + .container__item {
    margin-top: 5px;
}
    .logo {
        position: absolute;
        max-width: 80px;
        left: 48vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top:25vh; left: 0; bottom: 0; right: 0;
    }
    .hero-title {
        position: absolute;
        font-size: 5em;
        letter-spacing: 2px;
        text-align: center;
        margin: auto;
        z-index: 1;
        top:34vh; left: 0; bottom: 0; right: 0;
    }

    .hero-label {
      color: white;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }

    .hero-subtext {
      color: white;
      margin-bottom: 10px;
    }

    .btn {
        border: none;
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        color: #ffffff;
        background: #3498db;
        padding: 20px 40px 20px 40px;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        z-index: 2;
    }

    .btn:hover {
        background: #3cb0fd;
        text-decoration: none;
        cursor: pointer;
    }



@media only screen and (max-width: 500px) {
    .hero-title {
        font-size: 3em;
    }
}
